



<mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Password Genrator</mat-card-title>
      </mat-card-header>
      <mat-card-content>

            <!-- <h3>passwordArray: {{passwordArray}}</h3> -->
            <h3>passwords: {{passwords}}</h3>

      </mat-card-content>
      <mat-card-actions>
            <button mat-raised-button color="warn" (click)="generatur()"> neue Passwort erzeuge.</button>   
            <button mat-raised-button color="primary" >Password speichern</button>
      </mat-card-actions>
    </mat-card>